<mat-card appearance="outlined" class="dashboard-card">
  <mat-card-header>
    <mat-card-title>Tages-Übersicht</mat-card-title>
    <button mat-icon-button class="refresh-button" (click)="refreshSummary()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content" *ngIf="(summary | async) as summaryData">
    <p>Erstellt am: {{ summaryData?.created }}</p>
    <p>Tag: {{ summaryData?.day?.start }}</p>
    <p>Personen: {{ getPersonList(summaryData?.persons) }}</p>
    <p>Ort: {{ summaryData?.place?.name }}</p>
    <p>Anwesenheiten: {{ summaryData?.presences?.length }}</p>
    <p>Gesamtsekunden: {{ summaryData?.totalSeconds }}</p>
    <p>Gesamtstunden: {{ summaryData?.totalHours | number: '1.2-2'}}</p>
    <p>Offene Anwesenheiten: {{ summaryData?.openPresences }}</p>
  </mat-card-content>
</mat-card>
