.list-item-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.menu-wrapper {
  margin-left: auto;
}

.list-item {
  display: flex;
}

.line-container {
  display: flex;
  flex-direction: column;
}
